.TechTree {
    display: flex;
    overflow: auto;
    padding: 16px 0 0 112px;
    height: 100%;
}

.Tools {
    position: fixed;
    z-index: 1001;
    padding: 0 2px;
    margin-top: -10px;
    color: white;
    border: 1px solid white;
    display: flex;
    background-color: #bbada1;
}

.Tools > button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 1.1em;
}

.Tools > button > img {
    width: 24px;
    margin-right: 8px;
}

.Tools > .SelectedCivs {
    margin-left: 8px;
    height: 36px;
}

.Tools > .SelectedCivs > img {
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.Tools > .SelectedTechs {
    display: flex;
}
.Tools > .SelectedTechs > .Tech:first-child {
    margin-left: 8px;
}
.Tools > .SelectedTechs > .Tech:not(:first-child) {
    margin-left: 4px;
}
.Tools > .SelectedTechs > .Tech:last-child {
    margin-right: 8px;
}

.LeftPanel {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    margin-left: -112px;
    border-width: 0 1px 0px 0;
    border-color: white;
    border-style: solid;
    margin-top: -18px;
    padding: 18px 8px 0 0;
    height: 100%;
}

.LeftPanel .AgeRow {
    height: 150px;
}

.LeftPanel img {
    width: 96px;
}

.AgePanels {
    position: fixed;
    width: 100%;
    text-align: left;
    margin-left: -112px;
    padding-left: 16px;
}

.AgePanels .Panel {
    height: 150px;
    margin-top: -7px;
}

.AgePanels .Panel:not(:first-child) {
    height: 149px;
    border-top: 1px solid white;
}

.AgePanels .Panel:nth-child(4) {
    height: 255px;
}

.AgePanels .Panel:nth-child(2n) {
    /* background-color: #00000061; */
}

.AgePanels .Panel:nth-child(2n+1) {
    /* background-color: red; */
}

.Legend {
    position: fixed;
    z-index: 1000;
    display: flex;
    bottom: 32px;
    color: white;
}

.Legend .ColorBox {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.Legend > div {
    display: flex;
    margin-right: 16px;
    line-height: 16px;
}
.Legend > .Unit > .ColorBox {
    background-color: #016288;
}
.Legend > .Upgrade > .ColorBox {
    background-color: #357738;
}
.Legend > .Unique > .ColorBox {
    background-color: #7a3d83;
}
.Legend > .Civ1 > .ColorBox {
    background-color: #00dde9;
}
.Legend > .Civ2 > .ColorBox {
    background-color: #ff006a;
}
.Legend img {
    height: 36px;
    width: 36px;
    margin-top: -7px;
}