.CivList .Tools {
    /* margin-top: 4px;
    margin-left: 4px; */
    right: 4px;
    margin-top: 4px;

}
.CivList .Tools > button {
    padding: 0px 4px;
    font-size: 1em;
}
.CivList .Tools > div > label {
    cursor: pointer;
    margin: 8px;
}
.CivList .Tools > div > label:hover {
    color: black;
    background-color: white;
}
.CivList .Tools > div > label:first-child {
    margin-left: 0;
}
.CivList .Tools > div > label:last-child {
    margin-right: 0;
}

.CivList > div > .Title {
    position: absolute;
    z-index: 100;
    margin-top: -8px;
    color: white;
    text-decoration: underline;
    font-size: .9rem;
}

.CivList > .List {
    display: flex;
    padding: 8px;
    border-bottom: 3px solid black;
    height: 46px;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1000;
}
.CivList > .List.Excluded {
    background-color: #00000080;
}

.CivList > .List.Excluded .CivPanel {
    top: 142px;
}

.CivList > .List::before , 
.CivList > .List::after {
  content:'';
  flex:1;
}

.CivList > .List::-webkit-scrollbar {
  height: 4px;              /* height of horizontal scrollbar â† You're missing this */
  width: 4px;               /* width of vertical scrollbar */
  background-color: #d5d5d5;
}
/* .CivList > .List::-webkit-scrollbar-track {
    background-color: #aaaaaa;
} */
.CivList > .List::-webkit-scrollbar-thumb {
    background-color: #808080
}

.CivTree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.CivTree.Selected1, .CivTree.Selected2 {
    margin: 0 -2px;
}
.CivTree.Selected1 {
    border: 2px solid #00dde9;
}
.CivTree.Selected2 {
    border: 2px solid #ff006a;
}

.CivTree > span {
    display: none;
    position: absolute;
    background: #00000099;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 4px;
    outline: none;
    user-select: none;
}

.CivTree:hover > span {
    display: block;
    z-index: 1;
}

.CivTree > img {
    width: 44px
}