.GroupTechTree {
  display: flex;
  margin: 0 4px;
  padding: 4px;
}

.Units, .Upgrades {
  display: flex;
  margin: 0 4px;
}

.Upgrades {
  flex-direction: column;
}

.UnitLine {
  margin: 0 2px;
}

.Age {
  height: 150px;
}

.Age > .UpgradeTech:not(:first-child) {
  margin-left: 4px;
}

.Age > .UnitTech:not(:first-child) {
  margin-top: 4px;
}

.Upgrades > .Age {
  display: flex;
  flex-direction: row;
}

.Age4 {
  height: 300px;
}

/* .UnitLine {} */