.Tech.Selected2 {
  border-color: cyan !important;
}

.Tech.Selected1.Selected2 {
  border-top-color: cyan !important;
  border-right-color: cyan !important;
  border-left-color: yellow !important;
  border-bottom-color: yellow !important;
}