.Tech {
    position: relative;
    width: 92px;
    height: 92px;
    border: 1px solid black;
    font-size: 1em;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    user-select: none;
    text-align: center;
    border-radius: 2px;
}

.Tech.Mini {
    width: 36px;
    height: 36px;
    border-width: 2px;
}

.Tech.UnitTech {
    background-color: #016288;
}

.Tech.UpgradeTech {
    background-color: #357738;
}

.Tech.UnitTech.Unique {
    background-color: #7a3d83;
}

.Tech.Selected {
    border: 3px solid yellow;
    width: 88px;
    height: 88px;
}
.Tech.Mini.Selected {
    border-width: 2px;
    width: 32px;
    height: 32px;
}

.Gray-Overlay {
    position: absolute;
    display: none;
    background-color: #000000cc;
    width: 100%;
    height: 100%;
}
.Tech.Unavailable .Gray-Overlay {
    display: block;
}

.Tech > .Name {
    position: absolute;
    background: #00000050;
    color: white;
    font-size: .9rem;
    font-weight: 600;
    width: 86px;
    padding: 4px;
    outline: none;
    user-select: none;
}
.Tech.Mini > .Name {
    display: none;
}


.Tech > img {
    height: 76px;
    width: 76px;
}
.Tech.Mini > img {
    width: 32px;
    height: 32px;
}