.App {
  height: 100%;
  text-align: center;
}

.Tools {
  position: fixed;
  display: flex;
  z-index: 1001;
  margin-top: -10px;
}

.Tools > .Box {
  display: flex;
  padding: 0 2px;
  color: white;
  border: 1px solid white;
  background-color: #bbada1;
}

.Tools > .Box > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  font-size: 1.1em;
}

.LangSelectorContainer {
  position: fixed;
  bottom: 24px;
  right: 56px;
}