.CivList .Tools {
    margin-top: 4px;
    margin-left: 4px;
}
.CivList .Tools > button {
    padding: 0px 4px;
    font-size: 1em;
}
.CivList .Tools > label {
    cursor: pointer;
}

.List {
    display: flex;
    padding: 8px;
    border-bottom: 3px solid black;
    height: 46px;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1000;
}
.List.Excluded {
    background-color: #00000080;
}

.List.Excluded .CivPanel {
    top: 142px;
}

.List::before , 
.List::after {
  content:'';
  flex:1;
}

.List::-webkit-scrollbar {
  height: 4px;              /* height of horizontal scrollbar â† You're missing this */
  width: 4px;               /* width of vertical scrollbar */
  background-color: #d5d5d5;
}
/* .List::-webkit-scrollbar-track {
    background-color: #aaaaaa;
} */
.List::-webkit-scrollbar-thumb {
    background-color: #808080
}

.CivTree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.CivTree.Selected1, .CivTree.Selected2 {
    margin: 0 -2px;
}
.CivTree.Selected1 {
    border: 2px solid #00dde9;
}
.CivTree.Selected2 {
    border: 2px solid #ff006a;
}

.CivTree > span {
    display: none;
    position: absolute;
    background: #00000099;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 4px;
    outline: none;
    user-select: none;
}

.CivTree:hover > span {
    display: block;
    z-index: 1;
}

.CivTree > img {
    width: 48px
}