.CivPanel {
    color: black;
    border: 2px solid #ffffff;
    border-radius: 3px;
    font-size: .9rem;
    font-weight: 600;
    padding: 8px;
    cursor: default;
    outline: none;
    user-select: none;
    background-size: cover !important;
}

.CivPanel .Title {
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: solid 2px white;
    margin: -4px -4px 8px -4px;
    padding: 0 0 4px 0;
    text-align: center;
}

.Section:not(:first-child) {
    margin-top: 8px;
}

.SubTitle {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 4px;
    text-decoration: underline;
}

.Bonuses {
    text-align: left;
    color: rgb(51, 51, 51);
}

.TeamBonus {
    font-weight: bold;
}

.UnitList {
    display: flex;
}

.UnitList > .Tech:not(:first-child) {
    margin-left: 8px;
}