.CivList {
    display: flex;
    padding: 8px;
    border-bottom: 3px solid black;
    height: 46px;
    overflow-x: auto;
    overflow-y: hidden;
}
.CivList::before , 
.CivList::after {
  content:'';
  flex:1;
}

.CivList::-webkit-scrollbar {
  height: 4px;              /* height of horizontal scrollbar â† You're missing this */
  width: 4px;               /* width of vertical scrollbar */
  background-color: #d5d5d5;
}
/* .CivList::-webkit-scrollbar-track {
    background-color: #aaaaaa;
} */
.CivList::-webkit-scrollbar-thumb {
    background-color: #808080
}

.CivTree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.CivTree.Selected {
    border: 2px solid yellow;
    margin: 0 -2px;
}

.CivTree > span {
    display: none;
    position: absolute;
    background: #00000099;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 4px;
    outline: none;
    user-select: none;
}

.CivTree:hover > span {
    display: block;
    z-index: 1;
}

.CivTree > img {
    width: 48px
}